body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.category {
    margin: 10px;
}

.checkbox-label {
    display: flex;
    align-items: center;
}

.checkbox-label input {
    margin-right: 5px;
}

.product {
    display: none;
    margin: 10px;
}
